# Python

## Intro to Python

*Computer programming* is the process of giving instructions to a computer to perform an action or set of actions. Computer programming is done using a *programming language*--the words and symbols we use to write instructions for computers to follow.

Data professionals use Python to analyze data in faster, more efficient, and more powerful ways because it optimizes every phase of the data workflow--exploring, cleaning, visualizing data, and creating machine learning models.

Python, R, Java, and C++ are four of the most commonly used programming languages for data analysis. The following chart compares them using five considerations: speed, accessibility, variable, data science focus, and programming paradigm.
- Speed: Compile time, runtime, hardware, installed dependencies, and code efficiency all contribute to the speed of a program's execution.
- Accessibility: Refers to how easy the programming language is to learn and use.
- Variables: The way a program uses variables will have an effect on a systems core operations or kernel speed. Languages that use *static variables* (i.e., strongly-typed) maintain a value throughout the entire run of a program. Languages that use *dynamic variables* (i.e., weakly-typed) allow values to be determined when the program is run.
- Data science focus: Some programming languages have individual characteristics that better serve tasks in data analysis.
- Programming paradigm: *Object-oriented* programming languages are modeled around data objects. *Functional* programming languages are modeled around functions. *Imperative* lanaguages are modeled around code statements that can alter the state of the program itself.


| Features by software | Python | R | Java | C++ |
| --- | --- | --- | --- | --- |
| Speed | Slower | Depends on configuration and add-ons | Faster | Very Fast |
| Accessibility | Easy to learn | Complex | Easy to learn | Complex |
| Variable | Dynamic | Dynamic | Static | Declarative |
| Data science focus | Machine learning and automated analysis | Exploratory data analysis and building extensive statistical libraries | Used across projects with open-source assets | Not as widely used but very powerful implementations | 
| Programming paradigm | Object-oriented | Functional | Object-oriented | Multi-paradigm (imperative & object oriented |

## Jupyter Notebooks

*Jupyter notebooks* are open-source web appplications for creating and sharing documents containing live code, mathematical formuals, visualizations, and text.

Jupyter notebooks are partitioned into *cells*--modular code input or output fields.

Learn more about Jupyter notebooks and the Jupyter project online: [docs.jupyter.org](https://docs.jupyter.org/en/latest/https://docs.jupyter.org/en/latest/).

## Object-Oriented Programming

Object-oriented programming is a programming system that is based around objects, which can contain both data and code that manipulates that data.

An *object* is an instance of a class; a fundamental building block of Python. A *class* is an object's data type that bundles data and functionality together.

As an example, by assigning a value to the *string* class, it enables us to use functionality of a string, including `swapcase`, `replace`, and `split`.

In [3]:
# Assign a string to a variable and check its type
magic = 'HOCUS POCUS'
print(type(magic))

<class 'str'>

In [4]:
# Use swapcase() string method to convert from caps to lowercase
magic = 'HOCUS POCUS'
magic = magic.swapcase()
magic

'hocus pocus'

In [5]:
# Use replace() string method to replace some letters with other letters
magic = magic.replace('cus', 'key')
magic

'hokey pokey'

In [6]:
# Use split() string method to split the string into 2 strings
magic = magic.split()
magic

['hokey', 'pokey']

`swapcase`, `replace`, and `split` are examples of *methods*. A method is a function that belongs to a class and typically performs an action or operation.

Methods and attributes in a class are acccessed using *dot notation*. 

The core Python classes include:
- Integers
- Floats
- Strings
- Booleans
- Lists
- Dictionaries
- Tuples
- Sets
- Frozensets
- Functions
- Ranges
- None

An *attribute* is a value associated with an object or class which is reference by name using dot notation.

For example, a Pandas DataFrame has attributes called `shape` and `columns`.

In [8]:
pip install pandas

Collecting pandas
  Downloading pandas-2.0.2-cp39-cp39-macosx_11_0_arm64.whl (10.9 MB)
     |████████████████████████████████| 10.9 MB 12.2 MB/s
Collecting tzdata>=2022.1
  Downloading tzdata-2023.3-py2.py3-none-any.whl (341 kB)
     |████████████████████████████████| 341 kB 7.6 MB/s
Requirement already satisfied: numpy>=1.20.3 in /Users/andrewrife/mambaforge/lib/python3.9/site-packages (from pandas) (1.21.5)
Requirement already satisfied: pytz>=2020.1 in /Users/andrewrife/mambaforge/lib/python3.9/site-packages (from pandas) (2021.3)
Requirement already satisfied: python-dateutil>=2.8.2 in /Users/andrewrife/mambaforge/lib/python3.9/site-packages (from pandas) (2.8.2)
Requirement already satisfied: six>=1.5 in /Users/andrewrife/mambaforge/lib/python3.9/site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Installing collected packages: tzdata, pandas
Successfully installed pandas-2.0.2 tzdata-2023.3
Note: you may need to restart the kernel to use updated packages.

In [9]:
# Set-up cell to create the `planets` dataframe
# (This cell was not shown in the instructional video.)
import pandas as pd
data = [['Mercury', 2440, 0], ['Venus', 6052, 0,], ['Earth', 6371, 1],
        ['Mars', 3390, 2], ['Jupiter', 69911, 80], ['Saturn', 58232, 83],
        ['Uranus', 25362, 27], ['Neptune', 24622, 14]
]

cols = ['Planet', 'radius_km', 'moons']

planets = pd.DataFrame(data, columns=cols)

In [10]:
# Display the `planets` dataframe
planets

    Planet  radius_km  moons
0  Mercury       2440      0
1    Venus       6052      0
2    Earth       6371      1
3     Mars       3390      2
4  Jupiter      69911     80
5   Saturn      58232     83
6   Uranus      25362     27
7  Neptune      24622     14

In [11]:
# Use shape dataframe attribute to check number of rows and columns
planets.shape

(8, 3)

In [12]:
# Use columns dataframe attribute to check column names
planets.columns

Index(['Planet', 'radius_km', 'moons'], dtype='object')

Python lets you define your own classes, each with their own special attributes and methods.

For example, suppose we want to build a Spaceship class to be reused later. A class is like a blueprint for all things that share characteristics and behaviors. In this case, the class is Spaceship. There can be all different kinds of spaceships. They can have different names and different purposes. Whenever you create an object of a given class, you’re creating an instance of that class.

In [14]:
class Spaceship:
    
    # class attribute
    tractor_beam = 'off'
    
    # class constructor--called whenever a new instance of the class is created
    def __init__(self, name, kind):
        self.name = name
        self.kind = kind
        self.speed = None
    
    # instance methods
    def warp (self, warp):
        self.speed = warp
        print(f'Warp {warp}, engage!')
        
    def tractor(self):
        if self.tractor_beam == 'off':
            self.tractor_beam = 'on'
            print('Tractor beam on.')
        else:
            self.tractor_beam = 'off'
            print('Tractor beam off.')

To create an instance of a `Spaceship`, we need to supply a name and kind. Then, we can use the functions and attributes of the instance.

In [16]:
# Create an instance of the Spaceship class (i.e. "instantiate")
ship = Spaceship('Mockingbird','rescue frigate')

# Check ship's name
print(ship.name)

# Check what kind of ship it is
print(ship.kind)

# Check tractor beam status
print(ship.tractor_beam)

# Set warp speed
ship.warp(7)

# Check speed
ship.speed

# Toggle tractor beam
ship.tractor()

# Check tractor beam status
print(ship.tractor_beam)

Mockingbird
rescue frigate
off
Warp 7, engage!
Tractor beam on.
on

## Variables and data types

Variables can store values of any data type. A data type is an attribute that describes a piece of data based on its values, its programming language, or the operations it can perform.

*Assignment* means the process of storing a value in a variable. An *expression* is a combination of numbers, symbols, or other variables that produce a result when evaluated.

Python is *dynamically-typed*. This means that variables can point to objects of any type.

*Naming restrictions* are rules built into the language that must be followed. When naming variables, programmers must adhere to all naming conventions.

- *Keywords* must be avoided when naming variables. Keywords are special words that are reserved for a specific purpose and can only be used for that purpose (e.g., `for`, `in`, `if`, `else`).
- Avoid using function names in variables (e.g., `str`, `print`).
- Only include letters, numbers, and underscores. You cannot use special characters or whitespace. Variable names must start with a letter or an underscore.

Variable names are case-sensitive.

There are some best-practice naming conventions to help make code readable and maintainable:
- Descriptive names are better than cryptic abbreviations because they help other programmers (and you) read and interpret your code.
- Variable names and function names should be written in snake_case, which means that all letters are lowercase and words are separated using an underscore. 

See [PEP 8 Style Guide for Python](https://peps.python.org/pep-0008/) to review other style tips.

In [1]:
# Assign a list containing players' ages
age_list = [34, 25, 23, 19, 29]

In [7]:
# Find the maximum age and assign to `max_age` variable
max_age = max(age_list)
max_age

34

In [3]:
# Convert `max_age` to a string
max_age = str(max_age)
max_age

'34'

In [4]:
# Reassign the value of `max_age`
max_age = 'ninety-nine'
max_age

'ninety-nine'

In [9]:
# Find the maximum age and assign to `max_age` variable
max_age = max(age_list)
# Find the minimum age and assign to `min_age` variable
min_age = min(age_list)

# Subtract `min_age` from `max_age`
max_age - min_age

15

Python is able to manipulate variables using operations in expressions.

In [10]:
# Addition of 2 ints
print(7+8)

15

Similar to integers, Python can add (i.e., concatenate) two strings together.

In [11]:
# Addition of 2 strings
print("hello " + "world")

hello world

However, Python cannot add a string and an integer together.

In [12]:
# You cannot add a string to an integer
print(7+"8")

TypeError: unsupported operand type(s) for +: 'int' and 'str'

The built-in `type` function can be used to determine the type of a variable.

In [13]:
# The type() function checks the data type of an object
type("A")

str

In [14]:
# The type() function checks the data type of an object
type(2)

int

In [ ]:
# The type() function checks the data type of an object
type(2.5)

Python will implicitly convert the result of an expression to the appropriate data type. In this example, the result of adding an integer and a float together is a float.

In [15]:
# Implicit conversion
print(1 + 2.5)

3.5

Programmers can also explicitly convert types to another type. In this example, the result of `2+2` is being converted into a string.

In [16]:
# Explicit conversion (the str() function converts a number to a string)
print("2 + 2 = " + str(2 + 2))

2 + 2 = 4